html{
    background-color: #E3D8F1
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #BF8B85;

}

h1 {
    font-size: 3em;

}

h2 {
    font-size: 1.5em;
}

main section p {
    background-color: #DABECA
}

footer {
    background-color: #BF8B85;
}

.contact {
    text-align: left;
}

.social {
    text-align: right;
}

.copyright {
    text-align: center;
}

nav a:link,
nav a:visited {
    color: black
}

nav a:hover {
    color: black;
    background-color: #DABECA;
}